<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a
        href="https://accounts.google.com/o/oauth2/v2/auth?scope=email%20profile%20https://www.googleapis.com/auth/userinfo.email%20openid%20https://www.googleapis.com/auth/userinfo.profile&access_type=offline&response_type=code&redirect_uri=http://localhost:8080/oauth2/google&client_id=272610387101-jmfob6n3qgg0bofvdr9h6dc1c3m180fp.apps.googleusercontent.com&prompt=consent"
        data-text="google"><i class="xi-google"></i>구글로그인</a>
</body>
</html>