<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <logger name="com.study.jpacore" level="debug"/>
  <logger name="org.hibernate.SQL" level="debug"/>
  <logger name="org.hibernate.orm.jdbc.bind" level="trace"/>

<!--  <logger name="com.zaxxer.hikari" level="debug"/>-->

  <root level="info">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
