<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>HTML5 File Drag &amp; Drop API</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/styles.css" />
</head>
<body>

<form action="/file-upload" method="POST" enctype="multipart/form-data">
	<div>
		<label for="files">Files to upload:</label>
		<input type="file" id="files" name="files" multiple="multiple" />
		<div id="filedrag">or drop files here</div>
	</div>
	<button type="submit">send</button>
</form>

<div id="messages">

</div>

<script src="/js/filedrag.js"></script>
</body>
</html>