<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" th:action="@{/api/users/reset_password}">
        <input type="hidden" name="authenticationId" th:value="${authId}">
        <label>현재 비밀번호</label>
        <input type="password" name="oldPassword"><br>

        <label>새 비밀번호</label>
        <input type="password" name="newPassword"><br>

        <button type="submit" th:onclick="reset()">비밀번호 재설정</button>
    </form>
</body>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/passwordReset.js}"></script>

</html>