<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>home</title>
</head>
<body>
<p th:text="${data1}"></p>
<p th:text="${data2}"></p>
<h1 th:text="#{home.variables(${data1}, ${data2})}"></h1>
<h1 th:text="|#{address}/login|"></h1>
<p th:text="#{includeTag1}"></p>
<p th:utext="#{includeTag1}"></p>
<p th:text="#{includeTag2}"></p>
<p th:utext="#{includeTag2}"></p>
</body>
</html>